<div class="container">
  <div class="row">
    {%for collection in collections%}
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
        {% if collection.featured_image != blank %}
          {{ collection.featured_image | image_url: width: 300 | image_tag: class: 'custom-class', loading: 'lazy' }}
        {% else %}
          {{collection.next_product.featured_image |  image_url: width:300 |  image_tag: class: 'featured-image', loading:'lazy' }}
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
  {%endfor%}
  </div>
</div>